#menu_institucion{
    background: #062F4F;
    text-align: center;
  }
  
  #menu_institucion nav{
    padding-top: 10px;
    height: 40px;
  }
  
  #menu_institucion a{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
  }
  
  #menu_institucion a:hover{
    color: #B82601;
  }
  
  #banner_institucion{
    width: 100%;
    height: auto;
  }
  
  #submenu{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  #submenu img{
    width: 50px;
    height: auto;
    float: right;
    padding-right: 100px;
  }
  
  #submenu #titulo{
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }
  .columna_B {
    display: inline-block;
    width: 110px;

  }

  .columna_B div{
    margin-bottom: 15px;
}
  
#frm_registrar label{
  display: inline-block;
  margin:5%;
  Margin-left: 200%;
  width: 110px;
  
}

#frm_registrar input{
  display: inline-block;
  width: 250px;
  height: 30px;
  outline: none;
  Margin-left: 200%;
}
#frm_registrar button{
  display: block;
  background: #576574;
  padding: 10px;
  width: 170px;
  margin: 0 auto;
  font-size: 16px;
 Margin-left: 200%;
}
#frm_registrar button:hover{
 
  background:  #40739e;
}
